.backlinks {
  position: relative;
  

  & > h3 {
    font-size: 1.1rem;
    margin: 0;
  }

  & > ul {
    list-style: none;
    font-size: 0.7rem;
    text-decoration: underline;
    padding: 0;
    margin: 0.5rem 0;

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }
}