button#toc {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 1;
  color: var(--dark);
  display: flex;
  align-items: left;

  & h3 {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

#toc-content {
  list-style: circle;
  list-style-type: "\25B7";
  overflow: hidden;
  max-height: none;
  transition: max-height 0.5s ease;
  position: relative;

  &.collapsed > .overflow::after {
    opacity: 0;
  }

  & ul {
    font-size: 0.81rem;
    margin: 1rem;
    padding: 0;
    & > li > a {
      color: var(--dark);
      opacity: 0.31;
      transition:
        0.1s ease opacity,
        0.1s ease color;
      &.in-view {
        opacity: 0.75;
      }
    }
  }

  @for $i from 0 through 6 {
    font-size: 0.31;
    & .depth-#{$i} {
      padding-left: calc(0.21rem * #{$i});
    }
  }
}